.main {
    width: 100%;
    .up {
        #myCarousel {
            .carousel-indicators {
                li {
                    width: 6%;
                    height: 2%;
                    background: #e95f46;
                    border-radius: 0;
                }
            }
            .carousel-control {
                opacity: 1;
                .prev {
                    display: inline-block;
                    width: 48px;
                    font-size: 48px;
                    position: absolute;
                    top: 45%;
                    left: 10%;
                    opacity: 0;
                }
                .next{
                    display: inline-block;
                    width: 48px;
                    font-size: 48px;
                    position: absolute;
                    top: 45%;
                    opacity: 0;
                    right: 10%;
                }
            }
        }
    }
    .down {
        display: flex;
        justify-content: space-around;
        .scale {
            position: relative;
            width: 33%;
            overflow: hidden;
            a {
                color: #ffffff;
                h3 {
                    position: absolute;
                    top: 45%;
                    left: 15%;
                    padding: 0 50px;
                    text-align: center;
                    font-weight: normal;
                }
            }
            img {
                width: 105%;
            }
            &:nth-last-child(1) {
                a {
                    h3 {
                        padding: 0 99px;
                    }
                }
            }
        }
    }
}