.main {
    width: 100%;
    .up {
        img {
            width: 100%;
        }
    }
    .down {
        display: flex;
        justify-content: space-around;
        .scale {
            position: relative;
            width: 33%;
            height: 330px;
            overflow: hidden;
            a {
                color: #ffffff;
                h3 {
                    position: absolute;
                    top: 45%;
                    left: 15%;
                    padding: 0 50px;
                    text-align: center;
                    font-weight: normal;
                }
            }
            img {
                width: 105%;
            }
            &:nth-last-child(1) {
                a {
                    h3 {
                        padding: 0 99px;
                    }
                }
            }
        }
    }
}