.main {
    width: 100%;
    .up {
        img {
            width: 100%;
        }
    }
    .down {
        display: flex;
        justify-content: space-around;
        div {
            position: relative;
            width: 330px;
            height: 220px;
            overflow: hidden;
            a {
                color: #ffffff;
                h3 {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    padding: 0 50px;
                    text-align: center;
                    font-weight: normal;
                }
            }
            img {
                width: 105%;
            }
            &:nth-last-child(1){
                a{
                    h3{
                        padding: 0 99px;
                    }
                }
            }
        }
    }
}